@import "../../vars";
@import "../../type";
@import '../../../components/button/button.scss';
@import '../../../components/input/input.scss';

.signin {
  background: $light-blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.signin__modal {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 340px;
  background: $white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.signin__title {
  @include heading-4;

  margin: 20px 0 20px;
  color: $dark-blue;
  text-align: center;
}

.signin__link {
  color: $dark-blue;

  @include text-link-1;

  margin: 20px 0 25px;
  text-align: center;
}

.popup__btn-container {
  display: flex;
  flex-direction: column;
}
