@import '../vars';
@import '../type';

.chat-page {
  height: 100vh;
  display: grid;
  grid-template-columns: 311px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'users-block msg-block';
}

.chat-page__users-block {
  grid-area: users-block;
  background: $light-grey;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.chat-page__msg-block {
  grid-area: msg-block;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.chat-menu {
  margin: 10px 10px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.input-search {
  margin: 22px 10px 30px;
  border: 0;
  background: $light-blue;
  border-radius: 5px;
  outline: none;
  padding: 10px 0 10px 34px;
  font-family: $font-sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
}

.input-search::-moz-placeholder {
  color: $dark-grey;
}

.input-search::-webkit-input-placeholder {
  color: $dark-grey;
}

.chat-separator {
  margin: 0 10px;
  width: auto;
  border: none;
  background-color: $grey;
  color: $grey;
  height: 1px;
}

.chat-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content) 1fr 60px;
  grid-template-areas:
    'chat-header'
    'pablic-area'
    'send-msg';
}

.chat-header {
  grid-area: chat-header;
  align-self: end;
}

.chat-pablic-area {
  grid-area: pablic-area;
  align-self: end;
}

.chat-pablic-area_center {
  grid-area: pablic-area;
  align-self: center;
}

.chat-send-msg {
  grid-area: send-msg;
  align-self: start;
}

.header-element {
  margin: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-users-container {
  margin-left: 0;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.chat-date {
  margin: 20px 0;
  text-align: center;

  @include caption;

  color: $dark-grey;
}

.send-msg-element {
  margin: 10px 10px 0;
  display: grid;
  grid-template-columns: 32px 1fr 32px;
  grid-template-rows: 40px;
  column-gap: 10px;
  grid-template-areas: 'upload-btn msg-input msg-btn';
}

.content-upload-btn {
  width: 32px;
  height: 32px;
  align-self: flex-end;
  grid-area: upload-btn;
  border: 0;
  border-radius: 50%;
  background: transparent;
  font-family: $font-sans;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  color: $dark-blue;
  cursor: pointer;
}

.send-msg-btn {
  width: 32px;
  height: 32px;
  align-self: flex-end;
  grid-area: msg-btn;
  border: 0;
  border-radius: 50%;
  background: $orange;
  font-family: $font-sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: $white;
  cursor: pointer;
}
