@import "../vars";
@import "../type";
@import '../../components/profile-input/profile-input.scss';
@import '../../components/button/button.scss';

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
}

.profile__block-left {
  background: $light-blue;
  width: 64px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.profile__block-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 510px;
  background: $white;
}

.profile_btn-back {
  width: 28px;
  height: 28px;
  border: 0;
  border-radius: 50px;
  background: $orange;

  @include heading-5;

  color: $white;
}

.profile__photo {
  align-self: center;
}

.profile_btn-avatar {
  width: 130px;
  height: 130px;
  border: 0;
  border-radius: 100px;
  background: $light-blue;
}

.profile_name {
  @include heading-5;

  margin: 20px 0 20px;
  color: $dark-blue;
  text-align: center;
}

.profile__change {
  margin-top: 50px;
}
