@import '../../pages/vars';
@import '../../pages/type';

.btn-menu-chat {
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
  font-family: $font-sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  color: $dark-grey;
  text-decoration: underline;
}

.btn-menu-chat:nth-last-of-type() {
  text-decoration: none;
}
