@import "./vars";

/* Heading 2 */
@mixin heading-2 {
  margin: 0;
  font-family: $font-sans;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}

/* Heading 4 */
@mixin heading-4 {
  margin: 0;
  font-family: $font-sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

@mixin heading-5 {
  /* Heading 4 */
  margin: 0;
  font-family: $font-sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

/* Text Link 1 */
@mixin text-link-1 {
  margin: 0;
  font-family: $font-sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 32px;
  text-decoration-line: underline;
}

/* Caption */
@mixin caption {
  margin: 0;
  font-family: $font-sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

/* Button Text */
@mixin button-text {
  font-family: $font-sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px;
}
