@import "_vars.css";

/* Heading 4 */
@define-mixin heading-4 {
  font-family: $font-sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

/* Text Link 1 */
@mixin text-link-1 {
  font-family: $font-sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 32px;
  text-decoration-line: underline;
}
