/* шрифт */
$font-sans: 'Open Sans';

/* цвета */
$light-blue: #eff2f7; /* Светло-голубой */
$dark-blue: #09293a; /* Темно-синий */
$white: #fff; /* Белый */
$orange: #f89735; /* Оранжевый */
$red: #f00; /* Красный */
$dark: #000; /* Черный */
$dark-grey: #909090; /* Темно-серый */
$light-grey: #fbfbfb; /* Светло-серый */
$grey: #d6d7d8; /* Серый */
