/* шрифт */
$font-sans: 'Open Sans';

/* цвета */
$light-blue: #EFF2F7; /* Светло-голубой */
$dark-blue: #09293a; /* Темно-синий */
$white: #FFFFFF; /* Белый */
$orange: #f89735; /* Оранжевый */
$red: #ff0000; /* Красный */
$dark: #000000; /* Черный */
$dark-grey: #909090; /* Темно-серый */
