@import '../../../../pages/vars';
@import '../../../../pages/type';

.chat-delete-btn {
  padding: 0;
  width: 26px;
  height: 26px;
  font-family: $font-sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: white;
  border-width: 0;
  background-color: transparent;
  visibility: hidden;
}

.chat-delete-btn:hover {
  cursor: pointer;
}

.chat-delete-btn__img {
  height: 100%;
  width: 100%;
}
