@import '../../../../pages/vars';
@import '../../../../pages/type';

.send-msg-btn {
  width: 32px;
  height: 32px;
  align-self: flex-end;
  grid-area: msg-btn;
  border: 0;
  border-radius: 50%;
  background-image: url(../../../../../static/img/send-msg-button.svg);
  cursor: pointer;
}
