@import '../../../../pages/vars';
@import '../../../../pages/type';

.content-upload-btn {
  width: 32px;
  height: 32px;
  align-self: flex-end;
  grid-area: upload-btn;
  border: 0;
  border-radius: 50%;
  background: transparent;
  background-image: url(../../../../../static/img/upload-button.svg);
  cursor: pointer;
}
